* {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: caviardreams;
	src: url('MozillaFirefox/font/caviardreams.ttf');
}
.landing{
    position:relative;
    width:100%;
    height:100vh;
    background-image: url(MozillaFirefox/files/cover.jpg);
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	text-align: center;
}
.title {
	z-index: 200;
	position: absolute;
	font-size: 70px;
	font-family: 'Poiret One';
	color: #fff;
	width: 100%;
	top: 45%;
	margin: 0 auto;
	margin-top: -100px;
}
.title i{
	font-family: 'Josefin Sans', sans-serif;
}
.title span{
	color: #D54D25;
}
.links {
	z-index: 210;
	position: fixed;
	font-size: 15px;
	font-family: 'Jura', sans-serif;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin-top: 30px;
}
.links ul a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.links ul a:hover {
	color: #D54D25;
}
.links ul {
	width: 700px;
	border-top: 2px solid white;
}
.title h4 {
	font-size: 15px;
    font-family: 'Bad Script', sans-serif;
    font-weight: 200;
    letter-spacing: 2px
}
.products {
	height: auto;
	width: 100%;
	background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ACDDD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ACDDD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ACDDD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ACDDD9); /* Standard syntax (must be last) */
	color: #E78526;
	border-bottom: 4px #fff solid;
	display: inline-block;
}
.products-inner {
	z-index:99;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
.box, .box1, .box2{
 float: left; 
 width:33.275%;
 height:98%; 
 padding: 1% 0px;
 color: #10171d;
 font-family: 'Raleway', sans-serif;

}	
.box:last-child{
	border:none;
	float: right;
}
.box .sl, .box1 .sl, .box2 .sl{
	text-align:center;
	height: 10%;
	position: relative;
	display: inline-grid;
	padding-bottom: 5%;
}
.fa-gears:before, .fa-cogs:before, .fa-wrench:before, .fa-user-o:before{
	color:#1D2247;
}
.sadrzaj{
	width: 85%;
	color: #1D2247;
	padding:  5%;
	height: 12.5%;
	float: none;
	display: inline-flex;
	background: rgb(172, 221, 217, 0);
}
.sadrzaj .left{
	float: left;
	position: relative;	
}
.sadrzaj .right{
	float: left;
	height: 5%;
	padding: 0 2%;
	font-size: 15px;
	vertical-align: middle;
}
.sadrzaj .right h4 {
	font-size: 28px;
}
.sadrzaj:hover {
	border-right: 6px  #1D2247 solid;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.3);
}
